.jumbotron {
    /* background-image: url(../img/tes.jpg); */
    background-size: cover;
    height: 16rem;
    margin-bottom: 50px;
    margin-top: 50px;
}


footer .row-footer {
    padding: 35px;
    color: white;
    background-color: black ;
    margin-top: 100px;
}