.card{
    margin-top: 2rem;
}

.img{
    background-image: url('../img/login.jpg');
}

body {
    background-image: url('../img/fnbJumbotron.jpg');
}

.font{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3{
    margin-top: 140px;
}