.navbar-brand {
    font-family: 'Viga', sans-serif;
}


/* Desktop Version */
@media (min-width: 992px){
    .nav-link{
        text-transform: uppercase;
        margin: 0 20px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid white;
        width: 50%;
        margin: auto;
        padding-bottom: 3px;
        margin-bottom: -6px;
    }
}

.dark{
    background-color: black;
}